<% background_png = attach_asset("middle.png") %>

<table cellpadding="0" cellspacing="0">
  <tr>
    <td><%= image_tag_from_asset("logo.png", class: "block logo") %></td><td colspan="8"></td>
    <td class="header-text">Inschrijving Coconut Mobile App</td>
  </tr>
  <tr>
    <td colspan="10"><%= image_tag_from_asset("top.png", class: "block") %></td>
  </tr>
  <tr style="background-color: white; background-image: url(<%= background_png %>); background-repeat: repeat-y;" >
    <td  colspan="10" background="<%= background_png %>"><h1>Beste <%= @invitation.recipient_name %>,</h1></td>
  </tr>
  <tr style=" background-color: white; background-image: url(<%= background_png %>); background-repeat: repeat-y;">
    <td colspan="10" background="<%= background_png %>">
      <p>De Coconut App komt eraan! <%= @invitation.inviter_name %> heeft ons gevraagd jou ook op de hoogte te houden van de release.
        Wanneer het zover is, sturen we je graag meteen bericht en een link naar de App Store voor jouw mobiele telefoon.</p>
    </td>
  </tr>
  <tr style=" background-color: white; background-image: url(<%= background_png %>); background-repeat: repeat-y;">
    <td colspan="10" background="<%= background_png %>">
      <p>Op de <a href="https://mobile.coconutcenter.com">Coconut App website</a> lees je meer en meld je je aan.</p>
    </td>
  </tr>
  <tr style=" background-color: white; background-image: url(<%= background_png %>); background-repeat: repeat-y;">
    <td colspan="10" background="<%= background_png %>">
      <p class="footer-text">Met vriendelijke groet,<br><br>Het Coconut Team</p>
    </td>
  </tr>
  <tr style="background-color: white; background-image: url(<%= background_png %>); background-repeat: repeat-y;">
    <td colspan="10" background="<%= background_png %>">
      <p class="footer-text small">Heb je nog vragen? Stuur een e-mail naar info@coconutcenter.com</p>
    </td>
  </tr>
  <tr>
    <td colspan="10"><%= image_tag_from_asset("bottom.png", class: "block") %></td>
  </tr>
  <tr>
    <td colspan="10" style="text-align: center; padding-top: 30px;padding-bottom: 30px;">
      <a href="http://www.coconutcenter.com" title="Bezoek de Coconut website" class="footer-link">www.coconutcenter.com</a>
    </td>
  </tr>
</table>